@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Team 13</h1>
        <p class="lead">This is our team project for our MIS 4200: Information Systems Consulting Project </p>
        <a class="btn btn-default" href="https://business.ohio.edu/academics/undergrad-majors/management-information-systems/undergraduate-degree/"> OU MIS Homepage &raquo;</a>
    </div>

<div class="row">
    <div class="col-md-6">
        <h2>Centric Consulting</h2>
        <p>
            Centric is our client for this agile based development project. We are tasked to develop an employee recognition system.
        </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/">Centric's Homepage &raquo;</a></p>
    </div>
    <div class="col-md-6"> 
        <p>
            <h4>COURSE OBJECTIVES: </h4>
            •	Obtain practical experience working on an information system development project, working for an actual client.<br />
            •	Describe and discuss Scrum and Agile development.  Compare/contrast these techniques to those used in traditional software development approaches.<br />
            •	Demonstrate the systems development process using Scrum and other Agile approaches<br />
            •	Demonstrate a practical understanding of modern input /output/user interface design concepts using an integrated development environment.<br />
            •	Demonstrate knowledge and application of the ASP.NET MVC design pattern.<br />
            •	Assess and refine your overall technical skills in HTML, CSS, ASP.NET MVC, Bootstrap, Entity Framework and SQL Server recognizing areas needing improvement.<br />
        </p>
    </div>
</div>